<?xml version="1.0" encoding="UTF-8"?>
<root>
  <!-- graphic options -->
  <fullscreen>false</fullscreen>
  <borderless>true</borderless>
  <antialiasing>fxaa_high</antialiasing>
  <upmode>none</upmode>
  <presentmode>immediate</presentmode>
  <colorcorrection>0</colorcorrection>
  <gamma>1.00</gamma>
  <capturehq>false</capturehq>
  <gfxquality>0</gfxquality>
  <!-- high gfx preset -->
  <shaderquality>2</shaderquality>
  <shadows>2</shadows>
  <softshadows>true</softshadows>
  <ssao>1</ssao>
  <glow>1</glow>
  <lodfactor>1.00</lodfactor>
  <effectdistance>1.00</effectdistance>
  <distortion>true</distortion>
  <disableradar>false</disableradar>
  <radarquality>1</radarquality>
  <ssr>true</ssr>
  <ssrquality>low</ssrquality>
  <texturequality>high</texturequality>
  <chromaticaberration>true</chromaticaberration>
  <volumetric>1</volumetric>
  <pom>high</pom>
  <envmapprobes>low</envmapprobes>
  <envmapinsideglassfactor>1.0</envmapinsideglassfactor>
  <!-- sound options -->
  <nosound>false</nosound>
  <volumetotal>1.00</volumetotal>
  <volumemusic>0.50</volumemusic>
  <volumevoice>1.00</volumevoice>
  <volumeambient>1.00</volumeambient>
  <volumeui>1.00</volumeui>
  <volumeeffects>1.00</volumeeffects>
  <!-- game options -->
  <subtitles>true</subtitles>
  <autosave>true</autosave>
  <autoroll>false</autoroll>
  <toggleboost2>false</toggleboost2>
  <togglemouselook>false</togglemouselook>
  <rumbleintensity>1.00</rumbleintensity>
  <aimassist>1</aimassist>
  <collisionassist>true</collisionassist>
  <controlmodemessages>true</controlmodemessages>
  <radarmode>false</radarmode>
  <stopshipinmenu>true</stopshipinmenu>
  <forceshootatcursor>false</forceshootatcursor>
  <fpusecameraforward>false</fpusecameraforward>
  <separateRadar>true</separateRadar>
  <speaktargetname>true</speaktargetname>
  <autosaveintervalfactor>0.25</autosaveintervalfactor>
  <emergencyeject>true</emergencyeject>
  <mouseovertext>true</mouseovertext>
  <cockpitcamerascale>1.00</cockpitcamerascale>
  <!-- input options -->
  <confinemouse>false</confinemouse>
  <gamepadmode>2</gamepadmode>
  <tobiimode>combined</tobiimode>
  <tobiianglefactor>1.00</tobiianglefactor>
  <tobiigazeanglefactor>0.40</tobiigazeanglefactor>
  <tobiipositionfactor>1.00</tobiipositionfactor>
  <tobiideadzoneangle>0.00</tobiideadzoneangle>
  <tobiideadzoneposition>0.00</tobiideadzoneposition>
  <tobiigazedeadzone>0.10</tobiigazedeadzone>
  <tobiifilterstrength>5</tobiifilterstrength>
  <tobiigazefilterstrength>30</tobiigazefilterstrength>
  <!-- online options -->
  <showvisitornames>false</showvisitornames>
  <highlightvisitors>true</highlightvisitors>
  <!-- privacy options -->
  <sendcrashreports>true</sendcrashreports>
  <!-- accessibility options -->
  <showsignalleakviz>true</showsignalleakviz>
  <showlongrangescanviz>true</showlongrangescanviz>
  <globallightscale>1.0</globallightscale>
  <!-- modified settings -->
  <chardensity>0.50</chardensity>
  <trafficdensity>0.50</trafficdensity>
  <res_width>1920</res_width>
  <res_height>1080</res_height>
  <enemywarning_nearby>ui_notification_player_alert_07</enemywarning_nearby>
  <enemywarning_attack>ui_notification_player_alert_08</enemywarning_attack>
</root>
